body {
    font-family: sans-serif;
    margin: 0 50px;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .app {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px;
  }
  #addNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    margin-left: 40%;
    border: 1px solid black;
    
  }
  .mb-3{
    margin-left: 40%;
  }
  .fa-plus {
    background-color: white;
    padding: 3px;
    border-radius: 3px;
  }
  #msg {
    color: red;
  }

  #tasks {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 14px;
    width: 300px;
  }
  
  #tasks div {
    border: 1px solid orangered;
    background-color: white;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
  }

  #tasks div .options {
    justify-self: center;
    display: flex;
    gap: 20px;
  }
  
  #tasks div .options i {
    cursor: pointer;
  }

